{% extends 'base.html' %}
{% load static %}
{% load template_tag %}

{% block script %}
{% load static %}
<script src="{% static 'js/delivery/deliveries.js' %}"></script>
<script src="{% static 'js/delivery/deliveryTable.js' %}"></script>
<script>
    window.onload = (event) => {
      createTable(
        '{% url 'telegram-api:deliveries' %}',
        '{% url 'front:deliveries' %}',
        )
    }
</script>
{% endblock script %}

{% block pagename %}{{ pagename }}{% endblock pagename %}

{% block content %}
<section class="text-dark p-3">
  <div class="row p-3">
    <h4>Description</h4>
    <p>{{ description }}</p>
  </div>
  <div class="row p-3 row-cols-2">
    {% comment %} First action with button {% endcomment %}
    <div id="delivery_start_description" class="row row-cols-2">
      <div class="col-md-8">
        <p>{{ message_for_delivery }}</p>
      </div>
      <div class="col-md-4">
        <div id="delivery_button">
          <input
            class="btn btn-primary btn-lg float-end"
            onclick="startDelivery('{% url 'telegram-api:delivery_start' %}')"
            type="submit"
            value="START">
        </div>
      </div>
    </div>
    <div id="delivery_start_response" class="p-5 bg-light rounded" style="display: none"></div>
    {% comment %} /end 1st {% endcomment %}
    {% comment %} Second action with button {% endcomment %}
    <div class="row row-cols-2">
      <div class="col-md-8">
        <p>{{ message_for_new_delivery }}</p>
      </div>
      <div class="col-md-4">
        <div id="delivery_new_button">
          <input
            class="btn btn-primary btn-lg float-end"
            onclick="startDelivery('{% url 'telegram-api:delivery_start' %}')"
            type="submit"
            value="CREATE" >
        </div>
        <div id="delivery_new" class="p-5 bg-primary text-white rounded" style="display: none"></div>
      </div>
    </div>
    {% comment %} /end 2nd {% endcomment %}
  </div>
</section>
<section class="text-dark p-3">
 
  <hr class="bg-light border-2 border-top border-dark">
  <div class="container row p-3">
      <h4>Deliveries list</h4>
      <p></p>
      {% comment %} Form filter table {% endcomment %}
      <form name="deliveriesFilter">
        <div class="row">
          <div class="col">
            <select name="countObjectsOnPage" id="objOnPage" class="form-select">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
            <label class="fst-italic fw-light form-label" for="objOnPage">objects on page</label>
          </div>
          <div class="col">
            <input name="deliveriesIds" class="form-control" type="text" id="idDelivery" placeholder="1, 2, 3...">
            <label class="fst-italic fw-light form-label" for="idDelivery">insert ids or lose empty ones</label>
          </div>
          <div class="col">
            <select name="deliveryStatus" id="delivery_choose" class="form-select">
              <option value="all">all</option>
              <option value="draft">draft</option>
              <option value="ready_for_delivery">ready for delivery</option>
              <option value="completed">completed</option>
              <option value="partly_completed">partly completed</option>
              <option value="error">error</option>
            </select>
            <label class="fst-italic fw-light form-label" for="delivery_choose">choose status</label>
          </div>
          <div class="col">
              <input
                class="btn btn-primary float-end"
                value="UPDATE TABLE"
                type="button"
                onclick="createTable(
                    '{% url 'telegram-api:deliveries' %}',
                    '{% url 'front:deliveries' %}',
                    )">
          </div>
        </div>
      </form>
      {% comment %} /end Form filter table {% endcomment %}
      {% comment %} Table {% endcomment %}
      <table id="tableDelivery" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th data-sort="id" scope="col">id</th>
                <th scope="col">status</th>
                <th scope="col">created</th>
                <th scope="col">performed</th>
                <th scope="col">description</th>
                <th scope="col">link</th>
            </tr>
        </thead>
        <tbody id="tableDeliveryBody" class="table-light"></tbody>
      </table>
      <nav id="tableDeliveryNav" aria-label="...">
        <ul id="deliveryPage" class="pagination"></ul>
      </nav>
      {% comment %} /end Table {% endcomment %}
  </div>
</section>
{% endblock %}