{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <div class="container mt-5">
        <div class="text-dark">
            <h2>How to start</h2>
        </div>

        <section>
           <div class="mt-4 text-dark">
              <div class="row">
                  <div class="col p-3 bg-light">
                      Before you start using this Service, you need to check the connection with Telegram. Let's push the button:
                  </div>
                  <div class="col p-3 bg-light">
                      <button type="button" class="btn btn-primary btn-lg float-end">Check connection</button>
                  </div>
                </div>
            </div>
        </section>}

    </div>

{% endblock %}