{% extends 'base.html' %}

{% block pagename %}{{ pagename }}{% endblock pagename %}

{% block content %}

    <section>
       <div class="text-dark">
          <div class="row p-3">
              <div class="col p-3 bg-light">
                  Before you start using this Service, you need to check the connection with Telegram. Let's push the button:
              </div>
              <div class="col p-3 bg-light">
                  <button type="button" class="btn btn-primary btn-lg float-end">Check connection</button>
              </div>
            </div>
        </div>
    </section>

{% endblock content %}