{% extends 'base.html' %}
{% load static %}
{% load template_tag %}

{% block script %}
<script src="{% static 'js/taskId.js' %}"></script>
<script>
    findTaskById('{% url 'telegram-api:tasks' %}', {{ statuses|safe }})
</script>

{% endblock script %}

{% block pagename %}{{ pagename }}{% endblock pagename %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">field</th>
            <th scope="col">value</th>
        </tr>
    </thead>
    <tbody id="taskIdBody" class="table-light"></tbody>
</table>

<form id="taskIdForm" class="text-dark"></form>

{% endblock %}