{% extends 'base.html' %}
{% load static %}
{% load template_tag %}

{% block script %}
<script src="{% static 'front_end/js/tasks.js' %}"></script>
{% endblock script %}

{% block pagename %}{{ pagename }}{% endblock pagename %}

{% block content %}
<section class="text-dark p-3">
  <div class="row p-3">
      <div class="col p-3">
          <h4>Description</h4>
          <p>{{ description }}</p>
          <p>{{ message_for_delivery }}</p>
      </div>
      <div class="col p-3">
        <div id="task_button">
            <input
              class="btn btn-primary btn-lg float-end"
              onclick="startDelivery('{% url 'telegram-api:tasks_start' %}')"
              type="submit"
              value="START DELIVERY TASKS" >
        </div>
        <div id="task_response" class="p-5 bg-primary text-white rounded" style="display: none"></div>
     </div>
  </div>
  <hr class="bg-light border-2 border-top border-dark">
  <div class="row p-3">
        <h4>Tasks list</h4>
        <p></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">task_id</th>
                    <th scope="col">status</th>
                    <th scope="col">created_date</th>
                    <th scope="col">performed_date</th>
                    <th scope="col">description</th>
                    <th scope="col">link</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr class="table-light">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ task.task_id }}</td>
                    <td>{{ task.status }}</td>
                    {% date_converter task.created_date as created_date %}
                    <td>{{ created_date|date:"Y-m-d h:i:s T" }}</td>
                    {% date_converter task.performed_date as performed_date %}
                    <td>{{ performed_date|date:"Y-m-d h:i:s T" }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'front:tasks' %}{{ task.task_id }}">See task</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}