{% extends 'base.html' %}
{% load static %}

{% block script %}
<script src="{% static 'front_end/js/test.js' %}"></script>
{% endblock script %}

{% block pagename %}{{ pagename }}{% endblock pagename %}

{% block content %}
    <!--    <p>Имя: {{ user.name}} Возраст: {{user.age}}</p>-->
    <!--    <p>Адресс: ул. {{address.0}}, д. {{address.1}}, кв. {{address.2}}</p>-->
    <!--    <p>Языки: {{langs.0}}, {{langs.1}}</p>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <p>Person: {{ person.name }}</p>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    {% if n > 0 %}-->
    <!--    <p>Число положительное</p>-->
    <!--    {% elif n < 0 %}-->
    <!--    <p>Число отрицательное</p>-->
    <!--    {% else %}-->
    <!--    <p>Число равно нулю</p>-->
    <!--    {% endif %}-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <ul>-->
    <!--        {% for lan in langs %}-->
    <!--        <li>{{ lan }}</li>-->
    <!--        {% empty %}-->
    <!--        <li>Langs array is empty</li>-->
    <!--        {% endfor %}-->
    <!--    </ul>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    {% for key, value in colors.items %}-->
    <!--        <p>{{ key }}: {{ value }}</p>-->
    <!--    {% endfor %}-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    {% with name="Tom" age=29 %}-->
    <!--    <div>-->
    <!--        <p>Name: {{ name }}</p>-->
    <!--        <p>Age: {{ age }}</p>-->
    <!--    </div>-->
    <!--    {% endwith %}-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <p>{% now "Y" %}</p>-->
    <!--    <p>{% now "F j Y" %}</p>-->
    <!--    <p>{% now "N, j, Y" %}</p>-->
    <!--    <p>{% now "N j, Y, P" %}</p>-->
    <!--    {% now "Y" as current_year %}-->
    <!--    {% block translate %}-->
    <!--    Copyright {{ current_year }}-->
    <!--    {% endblock translate %}-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    {% regroup cities by country as country_list %}-->

    <!--    <ul>-->
    <!--    {% for country in country_list %}-->
    <!--        <li>{{ country.grouper }}-->
    <!--        <ul>-->
    <!--            {% for city in country.list %}-->
    <!--              <li>{{ city.name }}: {{ city.population }}</li>-->
    <!--            {% endfor %}-->
    <!--        </ul>-->
    <!--        </li>-->
    <!--    {% endfor %}-->
    <!--    </ul>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <p>{{ my_date|date:"d.m.Y" }}</p>-->
    <!--    <p>{{ my_date|date:"H:i" }}</p>-->
    <!--    <p>{{ my_date|date:"c" }}</p>-->
    <!--    <p>{{ my_date|date:"SHORT_DATE_FORMAT" }}</p>-->
    <!--    <p>Time zone: {{ my_date|date:"T" }}</p>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <form method="POST">-->
    <!--        {% csrf_token %}-->
    <!--        <table>-->
    <!--            {{ form }}-->
    <!--        </table>-->
    <!--        <input type="submit" value="Send" >-->
    <!--    </form>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <script language="javascript" type="text/javascript">-->
    <!--        function popitup(url) {-->
    <!--            newwindow=window.open(url,'ddd','height=200,width=150');-->
    <!--            if (window.focus) {newwindow.focus()}-->
    <!--            return false;-->
    <!--        }-->
    <!--    </script>-->

    <!--    <a href="/" onclick="return popitup('/')">sssss</a>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <button onclick="myFunction()">Click me!</button>-->

    <!--    <hr class="bg-light border-2 border-top border-dark">-->

    <!--    <p id="demo">JavaScript can change HTML content.</p>-->

    <!--    <button type="button" onclick="changeText()">Click Me!</button>-->

    <!--    <form action="{% url 'telegram-api:tasks' %}" method="get">-->
    <!--        {% csrf_token %}-->
    <!--        <input type="submit" value="Click" name="tasks">-->
    <!--    </form>-->


    <!--    <form method="POST">-->
    <!--        {% csrf_token %}-->
    <!--        <table>-->
    <!--            {{ form }}-->
    <!--        </table>-->
    <!--        <input type="submit" value="Send" >-->
    <!--    </form>-->

    <form method="POST">
        {% csrf_token %}
        <table class="table">
            {{ form }}
        </table>
        <input class="btn btn-primary btn-lg" type="submit" value="Send" >
    </form>
    <hr class="bg-light border-2 border-top border-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">task_id</th>
                <th scope="col">status</th>
                <th scope="col">created_date</th>
                <th scope="col">performed_date</th>
                <th scope="col">delivery_scheduled</th>
                <th scope="col">description</th>
                <th scope="col">message</th>
                <th scope="col">telegram_ids</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="table-light">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ task.task_id }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.created_date }}</td>
                <td>{{ task.performed_date }}</td>
                <td>{{ task.delivery_scheduled}}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.message }}</td>
                <td>{{ task.telegram_ids }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}